<div class="row">
	<h5 class"col s12">Validación de usuario</h5>
</div>
<div class="row">
	<form action="/users/login" method="post">
		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
		<div class="input-field col s8">
			<i class="material-icons prefix">email</i>
			<input name="user[mail]" type="text" placeholder="Correo">
		</div>
		<div class="input-field col s8">
			<i class="material-icons prefix">vpn_key</i>
			<input name="user[password]" type="password" placeholder="Contraseña">
		</div>
		<div class="input-field col s8">
			<button class="btn-floating right" type="submit"><i class="material-icons">send</i></button>
		</div>
	</form>
</div>