<div class="right col s9">
	<div class="right">
		<a href=""><i class="small material-icons grey-text text-lighten-2 right-extra-margin">info</i></a>
		<a href=""><i class="small material-icons cyan-text text-lighten-2 right-extra-margin">grid_on</i></a>
		<a href=""><i class="small material-icons grey-text text-lighten-2 right-extra-margin">insert_chart</i></a>
		<a href=""><i class="small material-icons grey-text text-lighten-2 right-extra-margin">map</i></a>
		<a href=""><i class="small material-icons grey-text text-lighten-2 right-extra-margin">cloud_download</i></a>
	</div>
</div>