<div class="right col s9">
	<div class="right">
		<a id="freq-table-trigger" href=""><i class="small material-icons paletton-red-text right-extra-margin">list</i></a>
		<% if @maps %>
			<a id="freq-map-trigger" href=""><i class="small material-icons paletton-red-text right-extra-margin">map</i></a>
		<% else %>
			<a href=""><i class="small material-icons paletton-light-grey-text right-extra-margin">map</i></a>
		<% end %>
		<a id="freq-download-trigger" href=""><i class="small material-icons paletton-light-grey-text right-extra-margin">cloud_download</i></a>
	</div>
</div>
