<div class="row">
  <div class="col s11 offset-s1">
    <div id="operation-state-shell" class="input-field short-row">
      <select id="operation-state-selector" class="admins-select browser-default" name="query[state_id]">
        <option value="" selected>Todas</option>
        <% @states.each do |state|%>
          <option value="<%= state.id %>"><%= state.name%></option>
        <% end %>
      </select>
    </div>
    <div class="label-row">
      <label class="white-text" for="operation-state-selector">ESTADO</label>
    </div>
  </div>
  <div class="col s11 offset-s1">
    <div id="operation-county-shell" class="input-field short-row">
      <select id="operation-county-selector" disabled class="admins-select browser-default" name="<%= @county_search_input %>">
      </select>
    </div>
    <div class="label-row">
      <label class="white-text" for="operation-county-selector">MUNICIPIO</label>
    </div>
  </div>
</div>