<a class="select-all filter-btn waves-effect waves-light btn p10 cyan darken-2 center-align disabled">
	Todos
</a>
<a class="clear-all filter-btn waves-effect waves-light btn p10 cyan darken-2 center-align disabled">
	Limpiar
</a>