<div class="row">
  <div class="col s12">
    <div class="input-field short-row">
      <select id="operation-sector-selector" class="admins-select browser-default" name="organization[sector_id]">
        <option value="" selected>Todas</option>
        <% @sectors.each do |sector|%>
          <option value="<%= sector.id %>"><%= sector.scian2 %> — <%= sector.name %></option>
        <% end %>
      </select>
    </div>
    <div class="label-row">
      <label class="white-text" for="operation-sector-selector">SECTOR</label>
    </div>
  </div>
  <div class="col s12">
    <br>
    <div class="label-row">
      <span class="pseudo-label">SUBSECTOR:</span>
    </div>
    <br>
    <div id="division-checkbox-container">
    </div>
  </div>
</div>