<a class="select-all filter-btn waves-effect waves-light btn p10 paletton-light-grey center-align">
	Todos
</a>
<a class="clear-all filter-btn waves-effect waves-light btn p10 paletton-light-grey center-align">
	Limpiar
</a>