        <footer class="page-footer">
            <%# <div class="container"> %>
                <div class="row">
                    <div class="b-container">
                        <div id="footer-contact-section" class="col l6 s12">
                            <div style="display: flex; align-items: center; gap: 10px; color: white; padding-top: 14px;">
                              <i class="material-icons">email</i>
                              <a href="mailto:contacto@lantiaintelligence.com" style="color: white; text-decoration: none;">
                                contacto@lantiaintelligence.com
                              </a>
                            </div>
                        </div>
                        <div class="col l4 offset-l2 s12">
                            <ul>
                                <li><a class="grey-text text-lighten-3" href="/TerminosYCondiciones.pdf" target="blank">TÉRMINOS Y CONDICIONES</a></li>
                                <li><a class="grey-text text-lighten-3" href="/AvisoDePrivacidad.pdf">AVISO DE PRIVACIDAD</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="b-container center-align">
                    LANTIA INTELLIGENCE TODOS LOS DERECHOS RESERVADOS - San Borja 1208, Int 4, Narvarte Poniente, CDMX, C.P. 03020
                    <a class="grey-text text-lighten-4 right" href="#!"></a>
                </div>
            </div>
        </footer>