<div class="modal-content">
	<%= image_tag "optimized_logo.jpg", :class => "modal-logo"%>
	<div class="p18">
	<br>
	<p class="bold">Guía de navegación</p>
	<ol>
		<li>
			Para ver más información da click en los estados<% if @victims %>, ciudades o municipios<% end %> del mapa, o desplaza el cursor sobre las gráficas.
		</li>
		<li>
			Usa el ícono de lista <span><i class="material-icons paletton-red-text tiny">list</i></span> para abrir un tabulado con cifras
		</li>
		<li>
			Utiliza <span class="hide-on-med-and-down">el panel de la izquierda</span><span class="hide-on-large-only">el botón <i class="material-icons paletton-red-text tiny">tune</i></span> para desagregar y filtrar la información (en algunos casos la consulta sólo se podrá visualizar como tabulado).
		</li>
	</ol>
	</div>
</div>
<div class="modal-footer">
	<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons small">close</i></a>
</div>