<div id="icon-info-modal" class="modal large-modal">
	<div class="modal-content">	
		<div class="row">
			<div class="col s12">
				<div class="right"><%= image_tag "optimized_logo.jpg", :class => "modal-logo"%></div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<h6>Índice de Conflictividad (ICON)</h6>
				<br>
				<p>Se elabora a partir del análisis de incidentes de conflictividad, tanto los ocasionadas por las movilizaciones de actores sociales, como por los hechos de violencia que generan una afectación al orden público. A partir del análisis de esta información se asigna un puntaje del 0 al 100, en el que los valores más altos implican mayor conflictividad, y se estima si la evolución general ha sido de mejora o de deterioro a lo largo del último año. El ICon se integra por los siguientes cuatro indicadores.</p>
				<% @defStrings.each do |myString| %>
					<div class="top-min-margin">
						<p><span class="bold"><%= myString[:name] %>: </span><%= myString[:definition] %>.</p>
					</div>
				<% end %>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons small">close</i></a>
		</div>
	</div>
</div>