<div class="row">
  <div class="col s5 offset-s1">
    <div class="input-field short-row">
      <select id="year-selector" class="g-operation-year-selector admins-select browser-default" name="query[year]">
        <option value="" selected>Todos</option>
        <% @myYears.each do |year|%>
          <option value="<%= year %>"><%= year %></option>
        <% end %>
      </select>
    </div>
    <div class="label-row">
      <label class="white-text" for="year-selector">AÑO</label>
    </div>
  </div>
  <div class="col s5 offset-s1">
    <div class="input-field short-row">
      <select id="month-selector" disabled class="g-operation-month-selector admins-select browser-default" name="query[month]">
      </select>
    </div>
    <div class="label-row">
      <label class="white-text" for="month-selector">MES</label>
    </div>
  </div>
</div>