          <tr style="border-top: 2px solid #33333C;">
            <th style="font-weight: bold;">Organización:</th>
            <td><%= cartel&.name || "Sin definir" %></td>
          </tr>
          <tr>
          <% cartel_designado = nil %>
          <% cartel_fuente = nil %>
          <% cartel_fuente_tipo = nil %>

          <% if cartel&.designation %>
            <% cartel_designado = cartel %>
          <% elsif cartel&.parent&.designation %>
            <% cartel_designado = cartel.parent %>
            <% cartel_fuente = cartel_designado.name %>
            <% cartel_fuente_tipo = "subordinada a" %>
          <% elsif cartel&.allies.present? %>
            <% aliadas_designadas = Organization.where(id: cartel.allies).select(&:designation) %>
            <% if aliadas_designadas.any? %>
              <% cartel_designado = aliadas_designadas.first %>
              <% cartel_fuente = cartel_designado.name %>
              <% cartel_fuente_tipo = "aliada a" %>
            <% end %>
          <% end %>