<div class="modal-content">
	<%= image_tag "optimized_logo.jpg", :class => "modal-logo"%>
	<div class="p18">
	<br>
	<p class="bold">Guía de navegación</p>
	<ol>
		<li>
			Al desplazar el cursor por el mapa podrás ver el listado de orgnizaciones con presencia en cada estado o municipio.
		</li>
		<li>
			Al dar click en un estado del mapa nacional se desplegará el mapa correspondiente con la presencia de organizaciones criminales por municipio. 
		</li>
		<li>
			Utiliza <span class="hide-on-med-and-down">el panel de la izquierda</span><span class="hide-on-large-only">el botón <i class="material-icons paletton-red-text tiny">tune</i></span> para filtrar la información.
		</li>
		<li>
			Da click en el listado <span class="hide-on-med-and-down">de la derecha</span><span class="hide-on-large-only">debajo del mapa</span> para consultar la ficha informativa de cada organización criminal. 
		</li>
		<li>
			Utiliza la herramienta de búsqueda <i class="material-icons paletton-red-text tiny">search</i> para encontrar organizaciones por nombre.
		</li>
	</ol>
	</div>
</div>
<div class="modal-footer">
	<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons small">close</i></a>
</div>