<div class="send-to-bottom">
	<div class="input-field valign-wrapper right short-row">
		<button class="send_button btn-floating card-margin" type="submit"><i class="material-icons grey-text">send</i></button>
	</div>
</div>