<div class="row short-row">
	<div class="input-field valign-wrapper col l2 m3 s4 right short-row">
		<button class="btn-floating teal lighten-5" type="submit"><i class="material-icons grey-text text-darken-3">send</i></button>
	</div>
</div>