<div class="hide-on-med-and-up">
	<div class="col s2">
		<button id="show-filter-dashboard" class="btn-floating btn-tiny paletton-red lighten-2 pulse"><i class="small material-icons white-text right-extra-margin">tune</i></button>						
	</div>
</div>