<script type="text/javascript">
    // <% if session[:membership] < 4 %>
    //   <% if @organizations || @victims %>
    //     $(document).ready(function() {
    //         if ($(window).width() > 600) {
    //           $('#slide-out').addClass('animate__animated animate__slideInLeft')
    //         };
    //     })
    //   <% end %>
    // <% end %>
</script>
<div class="side-icon red-text text-accent-4">
 <ul id="slide-out" class="sidenav paletton-grey
  <% if @intro %>
    animate__animated animate__slideInLeft animate__delay-1s
  <% end %>
 "
    <% if @intro %>
      style="transform: translateX(0%)"
    <% end %>
 >
  <li>
    <div class="user-view background paletton-grey">
    </div>
  </li>
    <div id="user-links white-text" class="paletton-red">
      <br>
      <li><a class="left-min-margin white-text p20 semi-slim preloader-trigger" href="/victims/new_query">VÍCTIMAS</a></li>
      <li><a class="left-min-margin white-text p20 semi-slim preloader-trigger" href="/organizations/query">ORGANIZACIONES</a></li>
      <% if session[:membership] > 3 %>
        <li><a class="left-min-margin white-text p20 semi-slim" href="/members/new_query">ARRESTOS</a></li>
      <% end %>
      <br>
      <div class="divider"></div>
      <br>
      <li><a class="left-min-margin white-text p20 semi-slim tooltipped preloader-trigger" data-tooltip="Índice de Riesgo por Crimen Organizado" href="/states/irco">IRCO</a></li>
      <% if session[:membership] > 1 %>
        <li><a class="left-min-margin white-text p20 semi-slim tooltipped preloader-trigger" data-tooltip="Índice de Conflictividad" href="/states/icon">ICON</a></li>
      <% end %>
      <br>
    </div>
  </ul>
  <div class="col s2">
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons small paletton-red-text class">menu</i></a>
  </div>
</div>
