
  <div class="side-icon">
   <ul id="slide-out" class="sidenav">
      <li><div class="user-view">
        <div class="background cyan darken-2">
        </div>
        <%= image_tag "kuro_saurio.jpeg", :class => "circle" %>
        <a href="#name"><span class="white-text name">ROBERTO VALLADARES PIEDRAS</span></a>
      </div></li>
      <li><a href="/organizations/main"><i class="material-icons small">view_list</i><p class="flow-text grey-text text-darken-1">Consulta</p></a></li>
      <li><div class="divider"></div></li>
      <li><a><i class="material-icons small">view_list</i><p class="flow-text grey-text text-darken-1">Base de datos</p></a></li>
      <li><a class="waves-effect waves-cyan cyan-text text-darken-2" href="/organizations/new">Organizaciones</a></li>
      <li><a class="waves-effect waves-cyan cyan-text text-darken-2" href="/events/killings">Ejecuciones</a></li>
      <li><div class="divider"></div></li>
<!--       <li><a><i class="material-icons small">input</i><p class="flow-text grey-text text-darken-1">Fuentes</p></a></li>
      <li><a class="waves-effect waves-cyan cyan-text text-darken-2" href="/sources/twitter">Twitter</a></li> -->
<!--       <li><div class="divider"></div></li>
 -->      <li><a><i class="material-icons small">assignment</i><p class="flow-text grey-text text-darken-1">Reportes</p></a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons medium cyan-text text-darken-2 class">menu</i></a>
  </div>
