<% unless @my_freq_table.length == 3 %>
	<% if @my_freq_table.length < 180 %>
		<% @sortCounter += 1 %>
		<a class="sort-btn sort-down-btn" href="#" remote="true" value="<%= @sortCounter%>">
			<i class="material-icons small black-text">keyboard_arrow_down</i>
		</a>
	<% else %>
	<% end %>
<% end %>