<div class="row valign-wrapper short-row white-text">
	<div class="col s1">
		<i class="material-icons prefix"><%= @killing_header[:icon]%></i>
	</div>
	<div class="col s11 left">
		<span class="card-title"><%= @killing_header[:title]%></span>
	</div>
</div>
<br>