<p>Te enviamos el archivo con el tabulado de <%=@caption%> en formato <%= @extension %>.</p>
<p>Atentamente,</p>
<img src="https://dashboard.lantiaintelligence.com/assets/optimized_logo.jpg" style="width: 140px">