@import "materialize";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

p {
	margin-block-start: 0 !important;
	margin-block-end: 0 !important;
}

#user-links, #staff-links {
	padding: 8px 0;
}

body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

.stress-line {
	padding: 8px 0;
}

.modal td {
	padding: 12px 10px !important;
}

main {
flex: 1 0 auto;
}

span {
	line-hight: 1.2 !important;
}

input {
	height: 30px !important;
	padding: 0 5px;
	margin: 3px !important;	
}

select {
	height: 30px !important;
	padding: 0 5px
}

#banner {
	width: 100%;
}

.collapsible-body {
	padding: 10px !important;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

#ispyv_table td {
	padding: 8px 5px;
}

.sidenav li > a {
	line-height: 20 px !important;
}

.sidenav .user-view {
	margin-bottom: 0;
	padding: 32px !important;
}

.user-view span {
	margin: 0 !important;
	padding: 0 !important;
}

.border-section {
	border: 1px solid #e0e0e0;
	padding: 6px;
}

.h5-no-margin {
	margin: 0 !important;
}

.card-margin {
	margin-right: 10px !important;
}

.input-padding {
	padding: 0 8px !important;
	width: 80% !important;
	margin-left: 10px !important;
}

.datepicker-calendar-container {
	background-color: #424242;
}

.right-extra-margin {
	margin-right: 10px;
}

ul#dropdown1.dropdown-content {
min-width: 85px !important
}

.center-content li {
	text-align: center !important;
}

.right-align {
	text-align: right !important;
}

.timepicker-analog-display {
	background-color: #424242;
}

#datepicker-title-yt {
	color: #e0e0e0;
}

.query-header {
	font-size: 22px !important;
	font-weight: 500;
	padding-left: 12px !important;
}

.query-header-box {
	padding-bottom: 10px !important;
}

.short-row {
	margin-bottom: 0;
	margin-top: 0;
}

.side-icon {
	display: block !important;
	width: 60px;
}

.side-margin {
	margin: 0 12px;
}

.modal-content {
	padding: 24px 24px 0 24px !important;
}

.modal-content p {
	margin-bottom: 0 !important;
}

.modal-logo {
	width: 140px;
}

.label-row {
	margin-bottom: 0;
	margin-top: 0;
	padding: 0 1rem !important;
}

.p20 {
	font-size: 20px !important;
}

.p18 {
	font-size: 18px !important;
}

.p10 {
	font-size: 10px !important;
}

.p12 {
	font-size: 12px !important;
}

#county-selector-box {
	display: none;
}

.pseudo-label {
	font-size: 12px !important;
}

.small-pseudo-label {
	font-size: 10px !important;
}

.small-text {
	font-size: 12px !important;	
}

.small-icon-size {
	width: 32px;
}

.tall-field {
	height: 100px;
}

.left-large-margin {
	margin-left: 75px;
}

.tall-textarea {
	margin-top: 40px;
}

.table-btn {
	height: 26px !important;
    line-height: 26px !important;
    text-transform: none !important;
    margin-bottom: 5px !important;
}

.tap-target-content p {
	font-size: 18px;	
}

.browser-default {
	background-color: white !important;
	margin: 3px !important;
}

.end-section {
	padding-bottom: 10px !important;
}

.period-badge {
	width: 80px !important;
	margin: 4px;
}

.mini-label {
	font-size: 9px !important;
	height: 30px !important;
}

.white-file-input {
	border-bottom-color: white !important;
	background-color: white !important;
}

#single_victim_profile_container {
	display: none;
}

input:disabled {
    opacity: 0.7;
}

[type="checkbox"] + span:not(.lever) {
	height: 50px;
	border: white;
}

[type="checkbox"] + span:not(.lever):before, [type="checkbox"]:not(.filled-in) + span:not(.lever):after {
	border: 2px solid #e0e0e0;
}


[type="checkbox"]:checked + span:not(.lever):before {
	border-top: 2px solid transparent !important;
	border-left: 2px solid transparent !important;
	border-bottom: 2px solid white !important;
	border-right: 2px solid white !important;
}

.datepicker-date-display, .datepicker-table td.is-selected, .timepicker-digital-display {
	background-color: #0097a7;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done, .timepicker-close {
    color: #80deea;
}

.datepicker-controls .select-month input, .select-year input {
    color: white !important;
}

.slim {
	font-weight: 200 !important;
}

.bold {
	font-weight: 500 !important;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	border-bottom: none !important;
}

[type="radio"]:not(:checked) + span:before, [type="radio"]:not(:checked) + span:after {
    border: 1px solid #ffffff;
}

[type="radio"]:checked + span:after, .with-gap[type="radio"]:checked + span:after {
    background-color: #eeeeee;
    border-color: white;
}

.file-field input[type=file] {
}

.large-modal {
	width: 65% !important;
}

.tiny-thumb {
	width: 65px;
	height: 65px;
	overflow: hidden;
}

ul.tabs {
	background-color: transparent !important;
}

.tabs .tab a.active {
	background-color: rgba(0, 188, 212, 0.12) !important;
}

li.indicator {
	background-color: #00bcd4 !important;
}

.chartjs-render-monitor {
	font-size: 18px !important;
}
