@import "materialize";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
/*
 *= require jquery-ui
 */

.state-map-box .col {
	padding: 0 !important;
}

.mexico-icon {
	width: 60px;
	display: inline-block;
	padding-top: 6px;
}

.btn-floating:hover {
	background-color: #EF4E50 !important;
}

.highcharts-tooltip-box {
	fill: white;
	fill-opacity: 1;
	stroke-width: 1;
}

#map-container {
    height: 500px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto; 	
}

.header-tag {
	font-size: 12px;
}
.paletton-grey {
	background-color: #454157;
}

.paletton-dark-grey {
	background-color: #33333C;
}

.paletton-light-grey {
	background-color: #7F7B90;
}

.paletton-red {
	background-color: #EF4E50;
}

.paletton-red-text {
	color: #EF4E50;
}

.paletton-light-red {
	background-color: #FF7575;
}

.paletton-light-red-text{
	color: #FF7575; 
} 

.paletton-grey-text {
	color: #454157;
}

.vertical-container {
	position: absolute;
	top: 50%;
	height: 500px;
	width: 90%;
	margin-top: -250px;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.checkbox-scroll .s11 {
	padding-right: 0 !important;
}

.checkbox-scroll .col {
	padding-bottom: 12px;
}

.checkbox-scroll span {
	vertical-align: middle;
}

.checkbox-scroll p {
	line-height: 1.2 !important;
}


.back-button-box {
	display: inline-block;
	vertical-align: top;
	padding-top: 2px;
}

.after-back-button-box {
	display: inline-block;
}

.gridRowHover{
    cursor: pointer;
 }

table.highlight>tbody>tr:hover {
    background-color: rgba(239, 78, 80, 0.28);      
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

#index-dashboard .input-field {
	margin: 0;
}

#index-dashboard span {
	padding: 0 0 0 28px;
}

.bottom-margin-div {
	margin-bottom: 6px !important;
}

.category-tag {
	display: inline-block;
}

.no-inner-padding .col {
	padding: 0;
}

.county-tag p {
	line-height: 1.2 !important;
}

.pseudo-button i {
	padding: 0px;
	border-radius: 50%;
}

.pseudo-button span {
	font-size: 12px;
}

.side-padding {
	padding: 0px 12px 6px;
}

.small-cell {
	padding: 8px 9px !important; 
}

#entry-grid, #freq-entry-chart, #freq-entry-map {
	display: none;
}

.freq-entry-display {
	padding: 0 !important;
}

#tree-entry-content .collapsible-header {
}
#tree-entry-content h6 {
	margin: 0; 
}

#activity-collection .collection-item {
	padding: 2px 8px;
	line-height: 1.2rem;
}

#grid-collection {
		height: 580px !important;
		width: 100%;
		overflow-y: scroll !important;
}

p.collection-item {
	height: 56px;
	padding: 8px;
	border: 1px solid #e0e0e0;
	line-height: 1.2rem !important;
}

.collection-column {
	padding: 0 !important
}

.collection-column li {
	height: 56px !important;
}

.entry-content a .material-icons {
	color: #00BCD4 !important;
}


#entry-grid .collection {
	overflow-x: scroll !important;
}

.entry a {
	color: #00BCD4 !important;
}

.entry p {
	font-size: 14px;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

#map {
    width: 100%;
    height: 580px;
}


.collapsible .row, {
	max-height: 200px !important;
}

.collapsible .checkbox-scroll, {
	padding-top: 20px;
	max-height: 200px !important;
	overflow-x: auto !important;
}


.card-narrow {
	padding: 0px;
	margin-bottom: 0;
}

.b-container {
	width: 90%;
	margin: 0 auto;
}

ul.z-depth-0 {
	border-style: none;
}

.sort-down-btn, .sort-up-btn {
	line-height: 1 !important;
}

.bottom {
	position: absolute;
	bottom: 0;	
	right: 0;
}

.bottom-parent {
	height: 100%;
	position: relative;
}

.send-to-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 16px;
	display: none;
}

.check-counter {
	float: right;
}

.total-tr {	
}

input[type=text] {
	padding-left: 10px !important;
}

.switch label input[type=checkbox]:checked + .lever:after {
	background-color: white !important;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: rgba(0, 0, 0, 0.38);
}

.center-table {
	margin: 0 auto;
}

.freq-table, #org-table, #ispyv_table, #irco_table {
	display: block !important;
	position: relative !important;
	overflow-x: auto;
	overflow-y: auto !important;
}

.freq-table th, .freq-table td, #org-table th, #org-table td {
	padding: 8px 16px;
	font-size: 11px;
}


@media only screen and (max-width: 600px) {

	.freq-table th, .freq-table td, #org-table th, #org-table td, #ispyv_table th, #ispyv_table td, #irco_table th, #irco_table td {
		padding: 6px 12px;
		font-size: 10px;
	}

	.card .card-content {
		padding: 16px 10px !important;
	}


	.legend-box {
		margin: 16px 0px;
	}
	
}

.page-footer {
	width: 100%;
	padding: 18px;

}

p {
	margin-block-start: 0 !important;
	margin-block-end: 0 !important;
}

.footer-icon{
	width: 36px;
	margin-right: 12px; 
}

.footer-row {
	margin: 0 !important;
}

#user-links, #staff-links {
	padding: 8px 0;
}

body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.stress-line {
	padding: 8px 0;
}

.modal td {
	padding: 12px 10px !important;
}

main {
	flex: 1 0 auto;
}

input {
	height: 30px !important;
	padding: 0 5px;
	margin: 3px !important;	
}

select {
	height: 30px !important;
	padding: 0 5px
}

#banner {
	width: 100%;
}

.collapsible-body {
	padding: 10px !important;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

#ispyv_table td, #irco_table td {
	padding: 8px 5px;
}

.sidenav li > a {
	line-height: 20 px !important;
}

.sidenav .user-view {
	margin-bottom: 0;
	padding: 32px !important;
}

.user-view span {
	margin: 0 !important;
	padding: 0 !important;
}

.flex-card {
	min-height: 548px;
}

.border-section {
	border: 1px solid #e0e0e0;
	padding: 6px;
}

.h5-no-margin {
	margin: 0 !important;
}

.full-height {
	height: 600px;
}

#map-display {
	vertical-align: middle;
}

.card-margin {
	margin-right: 10px !important;
}

.collapsible-disabled .collapsible-body {
    display: none !important; 
}

.collapsible-disabled .collapsible-header {
	color: #0097a7 !important;
}


.input-padding {
	padding: 0 8px !important;
	width: 80% !important;
	margin-left: 10px !important;
}

.filter-header {
	padding: 15px 0px;
}

.datepicker-calendar-container {
	background-color: #424242;
}

.right-extra-margin {
	margin-right: 10px;
}

.right-min-margin {
	margin-right: 5px;
}

.left-extra-margin {
	margin-left: 30px;
}

ul#dropdown1.dropdown-content {
min-width: 85px !important
}

.center-content li {
	text-align: center !important;
}

.right-align {
	text-align: right !important;
}

.timepicker-analog-display {
	background-color: #424242;
}

#datepicker-title-yt {
	color: #e0e0e0;
}

.query-header {
	font-size: 18px !important;
	font-weight: 500;
	padding-left: 12px !important;
}

.query-header-box {
	padding-bottom: 10px !important;
}

.short-row {
	margin-bottom: 0;
	margin-top: 0;
}

.side-icon {
	display: block !important;
	width: 60px;
}

.side-margin {
	margin: 0 12px;
}

.modal-content {
	padding: 24px 24px 0 24px !important;
}

.entry-modal {
	padding: 48px !important;
}

.extra-padding {
	padding: 16px !important;
}

.modal-content p {
	margin-bottom: 0 !important;
}

.modal-logo {
	display: block;
	width: 140px;
}

.label-row {
	margin-bottom: 0;
	margin-top: 0;
	padding: 0 1rem !important;
}

.p20 {
	font-size: 20px !important;
}

.p18 {
	font-size: 18px !important;
}

.p10 {
	font-size: 10px !important;
}

.p12 {
	font-size: 12px !important;
}

.p14 {
	font-size: 14px !important;
}

.filter-btn {
	height: 26px !important;
	width: 54px !important;
	padding: 8px !important;
	line-height: 10px !important;
	margin: 12px 4px 12px 0px !important;
	font-size: 9px !important;
}

.filter-btn:hover {
	background-color: #EF4E50 !important;
}

.filter-box .collapsible-body{
	max-height: 200px !important;
	overflow-y: scroll;  
}

#county-selector-box {
	display: none;
}

.pseudo-label {
	font-size: 12px !important;
}

.small-pseudo-label {
	font-size: 10px !important;
}

.small-text {
	font-size: 12px !important;	
}

.small-icon-size {
	width: 32px;
}

.tall-field {
	height: 100px;
}

.left-large-margin {
	margin-left: 75px;
}

.tall-textarea {
	margin-top: 40px;
}

.table-btn {
	height: 26px !important;
    line-height: 26px !important;
    text-transform: none !important;
    margin-bottom: 5px !important;
}

.tap-target-content p {
	font-size: 18px;	
}

.browser-default {
	background-color: white !important;
	margin: 3px !important;
}

.end-section {
	padding-bottom: 10px !important;
}

.period-badge {
	width: 80px !important;
	margin: 4px;
}

.mini-label {
	font-size: 9px !important;
	height: 30px !important;
}

.white-file-input {
	border-bottom-color: white !important;
	background-color: white !important;
}

#single_victim_profile_container {
	display: none;
}

input:disabled {
    opacity: 0.7;
}

[type="checkbox"] + span:not(.lever) {
	border: white;
	padding-left: 28px;
	height: auto;
	font-size: 11px;
}

[type="checkbox"] + span:not(.lever):before, [type="checkbox"]:not(.filled-in) + span:not(.lever):after {
	border: 2px solid #e0e0e0;
}


[type="checkbox"]:checked + span:not(.lever):before {
	border-top: 2px solid transparent !important;
	border-left: 2px solid transparent !important;
	border-bottom: 2px solid white !important;
	border-right: 2px solid white !important;
}

.datepicker-date-display, .datepicker-table td.is-selected, .timepicker-digital-display {
	background-color: #0097a7;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done, .timepicker-close {
    color: #80deea;
}

.datepicker-controls .select-month input, .select-year input {
    color: white !important;
}

.slim {
	font-weight: 230 !important;
}

.bold {
	font-weight: 500 !important;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	border-bottom: none !important;
}

[type="radio"]:not(:checked) + span:before, [type="radio"]:not(:checked) + span:after {
    border: 1px solid #ffffff;
}

[type="radio"]:checked + span:after, .with-gap[type="radio"]:checked + span:after {
    background-color: #eeeeee;
    border-color: white;
}

.file-field input[type=file] {
}

.large-modal {
	width: 65% !important;
	opacity: 1 !important;
	background-color: white !important;
}

.tiny-thumb {
	width: 65px;
	height: 65px;
	overflow: hidden;
}

ul.tabs {
	background-color: transparent !important;
}

.tabs .tab a.active {
	background-color: rgba(0, 188, 212, 0.12) !important;
}


li.indicator {
	background-color: #00bcd4 !important;
}

.cyan-tabs li.indicator {
	background-color: white !important;
}

.chartjs-render-monitor {
	font-size: 18px !important;
}
