<nav>
  <div class="nav-wrapper ">
    <a><img class="tall-field" src="assets/Lantia_LogoNegativo.png"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Inicio</a></li>
      <li><a href="badges.html">Nosotros</a></li>
      <li><a href="collapsible.html">Prensa</a></li>
      <li><a href="collapsible.html">Datos</a></li>
      <li><a href="collapsible.html">Servicios</a></li>
    </ul>
  </div>
</nav>

<textarea>FRONTPAGE</textarea>