<div class="row">
	<br>
	<div class="col l5 m8 s12">
		<div class="card cyan darken-1">
			<div class="card-content white-text">
				<div class="row">
					<div class="col s12">
						<span class="card-title center">Validación de usuario</span>
					</div>
				</div>
				<form action="/organizations/login" method="post">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<div class="row">
						<div class="col s12 valign-wrapper">
							<i class="material-icons prefix small">email</i>
				<!-- 		</div>
						<div class="input-field col s8"> -->
							<input class="input-padding white" name="user[mail]" type="text" placeholder="Correo">
						</div>
					</div>
					<div class="row">
						<div class="col s12 valign-wrapper">
							<i class="material-icons prefix small">vpn_key</i><!-- 
						</div>
						<div class="input-field col s8"> -->
							<input class="input-padding white" name="user[password]" type="password" placeholder="Contraseña">
						</div>
					</div>
					<div class="divider"></div>
					<div class="row">
						<div class="col s12">
							<div class="card-action">
								<div class="input-field valign-wrapper right short-row">
									<button class="btn-floating teal lighten-5" type="submit"><i class="material-icons grey-text text-darken-3">send</i></button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="valign-wrapper">
				<div class="col s10 offset-s1">
					<span class="grey-text text-darken-3 tap-target-trigger">
						¿TODAVÍA NO ERES USUARIO?
					</span>
				</div>
				<div class="col s10">
					<div class="valign-wrapper short-row">
						<a id="suscribe-call-to-action" class="btn-floating cyan"><i class="material-icons white-text">add</i></a>
						<div class="tap-target cyan lighten-4" data-target="suscribe-call-to-action">
							<div class="tap-target-content">
						      	<h5 class="cyan-text text-darken-4">Suscripción Lantia Intelligence</h5>
						      	<p class="cyan-text text-darken-4">Nuestros usuarios registrados tienen acceso al monitoreo en tiempo real de incidentes de alto impacto, estadísticas por municipio, análisis de coyuntura y mucho más.</p>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- PASSWORD ERROR MODAL -->
<% if @password_error %>
	<div id="password-error-modal" class="modal">
		<div class="modal-content">
			<%= image_tag "optimized_logo.jpg", :class => "modal-logo"%>
			<p class="p20 slim">Lo sentimos. El correo o la contraseña no corresponden a ningún usuario registrado.</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons small">close</i></a>
		</div>
	</div>
<% end %>