<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style>
		/* Email styles need to be inline */
		</style>
	</head>
	<body>
		<p><%= @greeting %> </p>
		<%= yield %>
		<div>
			<%= image_tag "optimized_logo.jpg" %>
		</div>
	</body>
</html>
