<!DOCTYPE html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p>Buenos días</p>
	<p>Se envía el catálogo solicitado.</p>	
	<div>
		<%= yield %>
	</div>
	<div>
		<%= image_tag "optimized_logo.jpg" %>
	</div>
</body>